body {
  background: #304960;
  color: white;
}

.container {
  margin-top: 100px;
}

.input-box {
  text-align: center;
  margin-bottom: 30px;
}

.input-box input {
  height: 60px;
  width: 80%;
  max-width: 600px;
  border: 3px solid #00bc7e;
  border-radius: 10px;
  color: #263e51;
  padding: 0 20px;
  font-size: 32px;
  transition: all .3s ease;
}

.input-box input:focus {
  box-shadow: 1px 1px 0 7px rgba(0, 191, 120, 0.3);
  outline: 0;
}

.virtual-box {
  max-width: 800px;
  margin: 0 auto;
  border: 3px solid #ececec;
  background: white;
  color: #263e51;
  border-radius: 4px;
  box-shadow: 0 6px 14px 10px rgba(0, 0, 0, 0.25);
}

.virtual-box .card {
  height: 150px;
  padding: 15px;
}

.virtual-box .card a {
  display: flex;
  text-decoration: none;
}

.virtual-box .card .thumbnail {
  height: 150px;
  width: 150px;
}

.virtual-box .card .content {
  margin-left: 20px;
}

.virtual-box .card .content p {
  font-size: 14px;
  margin: 0;
  color: olivedrab;
}

.virtual-box .card .content p:first-child {
  font-size: 20px;
  color: #263e51;
  margin: 20px 0;
}
